.flex{
    display:flex;
    align-items: center;
    &_j_SB{
        justify-content: space-between;
    }
    &_Ai_SA{
        align-items: space-around;
    }
    &_rowR{
        flex-direction: row-reverse;
    }
    &_col{
        flex-direction: column;
    }
}