@import '_flex';
@import '_nav';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", cursive;
  }
.top{
    min-height: 25px;
    max-width: 100vw;
}
.MaxWH{
    width: 100%;
    height: 100%;
}


.disp{
    display: flex;
}
.tiny{
    display: none;
}
@media screen and (max-width:1000px) {
    
    .disp{
        display: none;
    }
    .tiny{
        display: flex;
    }
}




.gone{
    display: none;
}
.there{
    display: flex;
}